{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
     <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block javascript %}

{#  <script>#}
{#      (function worker() {#}
{#  $.ajax({  url: '{% url 'home' %}',#}
{#            dataType: 'json',#}
{#            success: function(data) {#}
{#              document.getElementById('resumen').innerHTML = data["B2B Fibra"];#}
{#              document.getElementById('verticales').innerHTML = data["STTS n1"];#}
{#              document.getElementById('tabla3').innerHTML = data["Verticales"];#}
{#            },    complete: function() {#}
{#                setTimeout(worker, 20000);#}
{#                }#}
{#         });#}
{#       })();#}
{#  </script>#}

{% endblock %}


{% block content %}

<div class="row-grid">
   <div class="row">
        <div class="col-sm">
            <h3 >Corte de Línea: {{date_cutting|safe}}</h3>
        </div>
    </div>
</div>

<div class="tabsy">

    <input type="radio" id="tab1" name="tab" unchecked>
    <label class="tabButton" for="tab1">Resumen</label>

    <div class="tab">
        <div class="content" id="resumen">
            {{resumen|safe}}
        </div>
    </div>

    <input type="radio" id="tab2" name="tab" checked>
    <label class="tabButton" for="tab2">Verticales</label>

    <div class="tab">
        <div class="content" id="verticales">
            {{verticales_dashboard|safe}}
        </div>
        <div class="row">
           <div class="col-sm">
               {{tabla_verticales|safe}}
           </div>
        </div>
    </div>

     <input type="radio" id="tab3" name="tab" unchecked>
     <label class="tabButton" for="tab3">STTS n1</label>

     <div class="tab">
        <div class="content" id="sttsn1">
            {{sttsn1_dashboard|safe}}
        </div>
        <div class="row">
           <div class="col-sm">
               {{tabla_sttsn1|safe}}
           </div>
        </div>
    </div>

    <input type="radio" id="tab4" name="tab" unchecked>
    <label class="tabButton" for="tab4">Fibra</label>

     <div class="tab">
        <div class="content" id="fibra">
            {{fibra_dashboard|safe}}
        </div>
        <div class="row">
           <div class="col-sm">
               {{tabla_fibra|safe}}
           </div>
        </div>
    </div>

</div>

{% endblock %}

{##}
{#<div class="row-grid">#}
{#   {% for title,table in tables_dict.items %}#}
{#    <div class="row">#}
{#        <div class="col-sm">#}
{#        <h3 ><a href="{% url 'enviar' title%}" class="app-color" title="Descargar {{title}} a Excel"><i class="ni ni-app"></i> {{title}}</a></h3>#}
{#        {{ table|safe }}#}
{#        </div>#}
{#    </div>#}
{##}
{#    {% endfor %}#}
{#</div>#}